body {
  background: #E2E2E2;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: DarkGrey;
}

h1 {
  color: #FFFFFF;
  font-family: 'Audiowide', cursive;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 5px;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

h3 {
  margin: 10px;
  color: DarkGrey;
}

ul {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  list-style: none;
}

li {
  width: 86px;
  height: 86px;
  padding: 5px;
  border: 1px solid grey;
  margin: 1px;
  border-radius: 5px;
  float: left;
}

.light {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}


@-webkit-keyframes neon1 {
  from {
    -webkit-box-shadow: 6px -1px 150px 3px rgba(0,0,0,0.75);
  }
  to {
    -webkit-box-shadow: 4px -2px 100px 2px rgba(0,0,0,0.75);
  }
}