body {
  background: #E2E2E2;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: DarkGrey;
}

h1 {
  color: #FFFFFF;
  font-family: 'Audiowide', cursive;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 5px;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

h3 {
  margin: 10px;
  color: DarkGrey;
}

ul {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 1px;
  list-style: none;
  display: inline-block;
  background-color: grey;
  border-radius: 20px;
  border: 30px solid grey;
}

li {
  width: 82px;
  height: 82px;
  padding: 5px;
  margin: 4px;
  -webkit-box-shadow: inset 0px 0px 45px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 45px 8px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 45px 8px rgba(0,0,0,0.75);
  border-radius: 5px;
  position: relative;
  float: left;
  animation-name: flip;
  animation-duration: 2s;
  -webkit-transform-origin: top;
  transform-origin: top;
}

aside {
  display: inline-block;
  position: absolute;
  float: right;
  height: 300px;
  width: 150px;
}

aside h2 {
  width: 150px;
  height: 150px;
  line-height: 150px;
}

.modalShown {
  position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    height: auto;
    z-index: 2000;
    background-color: white;
    border-radius: 10px;
    display: unset;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes flip {
  0%    { -webkit-transform: rotateX(270deg);    }
  25%   { -webkit-transform: rotateX(400deg); }
  60%   { -webkit-transform: rotateX(330deg); }
  100%  { -webkit-transform: rotateX(360deg); }
}

.light {
  height: 82px;
  width: 82px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #FFDD1B, 0 0 3px #FFDD1B, 0 0 4px #FFDD1B, 0 0 5px #FFDD1B, 0 0 17px #FFDD1B
}